params.nproc = 20

// Process Parameters for igblast:
params.igblast.num_threads =  "20"  				//* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.igblast.outfmt =  "MakeDb"  					//* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop"
params.igblast.num_alignments_V =  "5"  			//* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.igblast.domain_system = "imgt"  				//* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for MakeDb:
params.MakeDb.failed =  "true"  					//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.MakeDb.format =   "airr"  					//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.MakeDb.regions =  "default"  				//* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.MakeDb.extended =  "true"  					//* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.MakeDb.asisid =  "false"  					//* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.MakeDb.asiscalls =  "true"  				//* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.MakeDb.inferjunction =  "false"  			//* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.MakeDb.partial =  "false"  					//* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.MakeDb.alignment_suffix =  ""  				//* @input @description:"Suffix to add to alignment filename"

// Process Parameters for collapse_annotations:
params.collapse_annotations.conscount_min =  2  	//* @input @description:"Threshold filter for the consensus value. Default is above 2"
params.collapse_annotations.n_max =  10  			//* @input @description:"Number of N nucliotide allowed in a sequence. Default 10"
params.collapse_annotations.name_alignment =  ""  	//* @input @description:"Suffix to add to alignment filename"

// Process Parameters for create_germlines:
params.create_germlines.failed =  "false"  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.create_germlines.format =   "airr"  			//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.create_germlines.g =  "dmask"  				//* @dropdown @options:"full,dmask,vonly,regions" @description:"Specify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.create_germlines.cloned =  "false" 			//* @input @description: "Specify to create only one germline per clone."
params.create_germlines.seq_field =  ""  			//* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.create_germlines.v_field =  ""  				//* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.create_germlines.d_field =  ""  				//* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.create_germlines.j_field =  ""  				//* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.create_germlines.clone_field =  ""  			//* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for define_clones:
params.define_clones.failed =  "false"  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.define_clones.format =   "airr"  			//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.define_clones.seq_field =  ""   				//* @input @description:"Field to be used to calculate distance between records. Defaults to junction (airr) or JUNCTION (changeo)."
params.define_clones.v_field =  ""   				//* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.define_clones.d_field =  ""  				//* @input @description:"Field containing the germline D segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.define_clones.j_field =  ""   				//* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.define_clones.group_fields =  "" 			//* @input @description:"Additional fields to use for grouping clones aside from V, J and junction length."
params.define_clones.mode =  "gene"  				//* @dropdown @options:"allele,gene" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.define_clones.dist =  "0.2"   				//* @input @description:"The distance threshold for clonal grouping"
params.define_clones.norm =  "len"  				//* @dropdown @options:"len,mut,none" @description:"Specifies how to normalize distances. One of none (do not normalize), len (normalize by length), or mut (normalize by number of mutations between sequences)."
params.define_clones.act =  "set"  					//* @dropdown @options:"first,set" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.define_clones.model =  "hh_s5f"  			//* @dropdown @options:"ham,aa,hh_s1f,hh_s5f,mk_rs1nf,mk_rs5nf,hs1f_compat,m1n_compat" @description:"Specifies which substitution model to use for calculating distance between sequences"
params.define_clones.sym =  "min"  					//* @dropdown @options:"avg,min" @description:"Specifies how to combine asymmetric distances"
params.define_clones.link =  "single"  				//* @dropdown @options:"single,average,complete" @description:"Type of linkage to use for hierarchical clustering."
params.define_clones.maxmiss =  "0"   				//* @input @description:"The maximum number of non-ACGT characters (gaps or Ns) to permit in the junction sequence before excluding the record from clonal assignment"

docker.enabled = true

process {	
    container = 'my_immcantation_suite:4.4.0'
	cpus = 60
	
    withName: ogrdbstats_report {
            container = 'williamlees/ogrdbstats:latest'
        }	
}

