params.nproc = 10
report.overwrite = "true"

// Process Parameters for igblast:
params.igblast.num_threads =  "20"  				//* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.igblast.outfmt =  "MakeDb"  					//* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop"
params.igblast.num_alignments_V =  "5"  			//* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.igblast.domain_system = "imgt"  				//* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for MakeDb:
params.MakeDb.failed =  "true"  					//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.MakeDb.format =   "airr"  					//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.MakeDb.regions =  "default"  				//* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.MakeDb.extended =  "true"  					//* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.MakeDb.asisid =  "false"  					//* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.MakeDb.asiscalls =  "false"  				//* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.MakeDb.inferjunction =  "false"  			//* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.MakeDb.partial =  "false"  					//* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.MakeDb.alignment_suffix =  ""  				//* @input @description:"Suffix to add to alignment filename"

// Process Parameters for collapse_annotations:
params.collapse_annotations.conscount_min =  2  	//* @input @description:"Threshold filter for the consensus value. Default is above 2"
params.collapse_annotations.n_max =  10  			//* @input @description:"Number of N nucliotide allowed in a sequence. Default 10"
params.collapse_annotations.name_alignment =  ""  	//* @input @description:"Suffix to add to alignment filename"

// Process Parameters for create_germlines:
params.create_germlines.failed =  "false"  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.create_germlines.format =   "airr"  			//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.create_germlines.g =  "dmask"  				//* @dropdown @options:"full,dmask,vonly,regions" @description:"Specify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.create_germlines.cloned =  "false" 			//* @input @description: "Specify to create only one germline per clone."
params.create_germlines.seq_field =  ""  			//* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.create_germlines.v_field =  ""  				//* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.create_germlines.d_field =  ""  				//* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.create_germlines.j_field =  ""  				//* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.create_germlines.clone_field =  ""  			//* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for define_clones:
params.define_clones.failed =  "false"  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.define_clones.format =   "airr"  			//* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.define_clones.seq_field =  ""   				//* @input @description:"Field to be used to calculate distance between records. Defaults to junction (airr) or JUNCTION (changeo)."
params.define_clones.v_field =  ""   				//* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.define_clones.d_field =  ""  				//* @input @description:"Field containing the germline D segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.define_clones.j_field =  ""   				//* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.define_clones.group_fields =  "" 			//* ""   //* @input @description:"Additional fields to use for grouping clones aside from V, J and junction length."
params.define_clones.mode =  "gene"  				//* @dropdown @options:"allele,gene" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.define_clones.dist =  "0"   					//* @input @description:"The distance threshold for clonal grouping"
params.define_clones.norm =  "len"  				//* @dropdown @options:"len,mut,none" @description:"Specifies how to normalize distances. One of none (do not normalize), len (normalize by length), or mut (normalize by number of mutations between sequences)."
params.define_clones.act =  "set"  					//* @dropdown @options:"first,set" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.define_clones.model =  "ham"  				//* @dropdown @options:"ham,aa,hh_s1f,hh_s5f,mk_rs1nf,mk_rs5nf,hs1f_compat,m1n_compat" @description:"Specifies which substitution model to use for calculating distance between sequences"
params.define_clones.sym =  "avg"  					//* @dropdown @options:"avg,min" @description:"Specifies how to combine asymmetric distances"
params.define_clones.link =  "single"  				//* @dropdown @options:"single,average,complete" @description:"Type of linkage to use for hierarchical clustering."
params.define_clones.maxmiss =  "0"   				//* @input @description:"The maximum number of non-ACGT characters (gaps or Ns) to permit in the junction sequence before excluding the record from clonal assignment"

params.Undocumented_Alleles.chain =  "IGH"  		//* @dropdown @options:"IGH,IGK,IGL" @description:"The AIRR-seq receptor chain. Default IGH."
params.Undocumented_Alleles.num_threads =  10  		//* @input @description:"Number of threads (CPUs) to use in the novel allele search. Default value 4"
params.Undocumented_Alleles.germline_min =  200  	//* @input @description:"The minimum number of sequences that must have a particular germline allele call for the allele to be analyzed. Default 200"
params.Undocumented_Alleles.min_seqs =  50  		//* @input @description:"Minimum number of total sequences (within the desired mutational range and nucleotide range) required for the samples to be considered.Default 50"
params.Undocumented_Alleles.auto_mutrange =  "true" //* @checkbox @description:"if true, the algorithm will attempt to determine the appropriate mutation range automatically using the mutation count of the most common sequence assigned to each allele analyzed. Default true"
params.Undocumented_Alleles.mut_range =  "1:10"  	//* @input @description:"Range of mutations that samples may carry and be considered by the algorithm. Default 1:10"
params.Undocumented_Alleles.pos_range =  "1:318" 	//* @input @description:"Range of IMGT-numbered positions that should be considered by the algorithm. Default 1:318"
params.Undocumented_Alleles.y_intercept =  0.125 	//* @input @description:"y-intercept threshold above which positions should be considered potentially polymorphic. Default 0.125"
params.Undocumented_Alleles.alpha =  0.05 			//* @input @description:"Alpha value used for determining whether the fit y-intercept is greater than the y_intercept threshold. Default 0.05"
params.Undocumented_Alleles.j_max =  0.15 			//* @input @description:"Maximum fraction of sequences perfectly aligning to a potential novel allele that are allowed to utilize to a particular combination of junction length and J gene. The closer to 1, the less strict the filter for junction length and J gene diversity will be. Default 0.15"
params.Undocumented_Alleles.min_frac =  0.75 		//* @input @description:"Minimum fraction of sequences that must have usable nucleotides in a given position for that position to considered. Default 0.75"

// Process Parameters for TIgGER_bayesian_genotype_Inference:
params.TIgGER_bayesian_genotype_Inference.seq =  "sequence_alignment"  	//* @input description:"name of the column in data with the aligned, IMGT-numbered, V(D)J nucleotide sequence. Default is sequence_alignment."
params.TIgGER_bayesian_genotype_Inference.find_unmutated = "false"  	//* @checkbox @description:"if true, use germline_db to find which samples are unmutated. Not needed if allele_calls only represent unmutated samples. Default false"
params.TIgGER_bayesian_genotype_Inference.single_assignments = "false"	//* @checkbox @description:" "

// Process Parameters for PIgLET_IGHV_ASC_genotype_Inference:
params.PIgLET_IGHV_ASC_genotype_Inference.call =  "v_call"  			//* @input @description:"column in data with V allele calls. Default is "v_call"."
params.PIgLET_IGHV_ASC_genotype_Inference.seq =  "sequence_alignment"  	//* @input description:"name of the column in data with the aligned, IMGT-numbered, V(D)J nucleotide sequence. Default is sequence_alignment."
params.PIgLET_IGHV_ASC_genotype_Inference.find_unmutated =  "false"  	//* @checkbox @description:"if true, use germline_db to find which samples are unmutated. Not needed if allele_calls only represent unmutated samples. Default false"
params.PIgLET_IGHV_ASC_genotype_Inference.alleleClusterTable =  ""  	//* @input @description:"A data.frame of the allele similarity clusters threshold. Default latest zenodo archived table."
params.PIgLET_IGHV_ASC_genotype_Inference.single_assignment =  "false"  //* @checkbox @description:"if true, the method only considers sequence with single assignment for the genotype inference. Default false" For TIgGER named in allele_calls. Only required if find_unmutated is true."

includeConfig '../shared_configs/profiles.config'
includeConfig '../shared_configs/process.config'
