sifPath = '~/sifs/'

process {
    container = sifPath + 'immcantation_suite-4.4.0.sif'
    cpus = 10

    withName: ogrdbstats_report {
        container = sifPath + 'ogrdbstats_latest.sif'
    }

    withName: align_v {
        container = sifPath + 'flairr_dsl2_latest.sif'
    }

    withName: FastQC  {
        container = sifPath + 'fastqc_v0.11.9_cv8.sif'
    }

    withName: presto_report {
        container = sifPath + 'flairr_dsl2_latest.sif'
    }

    withName: filter_barcodes {
        container = sifPath + 'flairr_dsl2_latest.sif'
    }

}

