profiles {
    docker {
        process {
            container = "immcantation/suite:4.4.0"
            cpus = 16

            withName: haplotype_const_report {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: ogrdbstats_report {
                container = "williamlees/ogrdbstats:latest"
            }

            withName: align_v {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: presto_report {
                    container = "williamlees/flairr_dsl2:latest"
            }

            withName: filter_barcodes {
                    container = "williamlees/flairr_dsl2:latest"
            }

            withName: FastQC {
                container = "williamlees/flairr_dsl2:latest"
            }
        }
    }

    singularity {
        params.sif_dir = System.getProperty('user.home') + "/sifs"

        process {
            container = "file://${params.sif_dir}/immcantation_suite-4.4.0.sif"
            cpus = 10

            withName: haplotype_const_report {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: ogrdbstats_report {
                container = "file://${params.sif_dir}/ogrdbstats_latest.sif"
            }

            withName: align_v {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: presto_report {
                    container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: filter_barcodes {
                    container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: FastQC  {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }           
        }
    }
}
