profiles {
    docker {
        process {
            container = "immcantation/suite:4.4.0_wsl2"
            cpus = 8

            withName: 'haplotype_const_report' {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: 'ogrdbstats_report' {
                container = "williamlees/ogrdbstats:latest"
            }

            withName: 'align_v' {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: 'presto_report' {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: 'filter_barcodes' {
                container = "williamlees/flairr_dsl2:latest"
            }

            withName: 'FastQC' {
                container = "williamlees/flairr_dsl2:latest"
            }
        }
    }

    singularity {
        params.sif_dir = System.getProperty('user.home') + "/sifs"

        process {
            container = "file://${params.sif_dir}/immcantation_suite-4.4.0.sif"
            cpus = 10

            withName: 'haplotype_const_report' {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: 'ogrdbstats_report' {
                container = "file://${params.sif_dir}/ogrdbstats_latest.sif"
            }

            withName: 'align_v' {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: 'presto_report' {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: 'filter_barcodes' {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }

            withName: 'FastQC' {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
            }
        }
    }

    awsbatch {
        fusion {
            enabled = true
            snapshots = true
        }

        wave {
            enabled = true
        }

        aws {
            batch {
                maxSpotAttempts = 3  // Allows AWS Batch to retry the job on Spot
            }
        }        

        process {
            container = params.aws_batch_container_image
            cpus = 1
            memory = '4 GB'
            time = '15 m'

            queue         = 'fargate-spot-job-queue'

            errorStrategy = { task.exitStatus in [137, 143, 175, 176] ? 'retry' : 'finish' }
            maxRetries    = 2
            
            withName: 'FastQC' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'filter_seq_quality' {
                cpus = 4
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'filter_seq_length' {
                cpus = 4
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'MaskPrimers' {
                cpus = 4
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'filter_barcodes' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'check_for_seqs' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'align_sets' {
                cpus = 8
                memory = '16 GB'
                time = '2 h'
            }

            withName: 'cluster_sets' {
                cpus = 8
                memory = '8 GB'
                time = '30 m'
            }

            withName: 'build_consensus' {
                cpus = 8
                memory = '8 GB'
                time = '30 m'
            }

            withName: 'collapse_seq' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'split_seq' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'presto_report' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'igblast' {
                cpus = 8
                memory = '16 GB'
                time = '15 m'
            }

            withName: 'igblast_combo' {
                cpus = 8
                memory = '16 GB'
                time = '15 m'
            }

            withName: 'makedb' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'make_blast_db' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'create_germlines' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'define_clones' {
                cpus = 2
                memory = '8 GB'
                time = '30 m'
            }

            withName: 'collapse_annotations' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'single_clone_representative' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'haplotype_const_report' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'ogrdbstats_report' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'align_v' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'vdjbase_genotype_report' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'PIgLET_IGHV_ASC_genotype_Inference' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'TIgGER_bayesian_genotype_Inference' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }

            withName: 'Undocumented_Alleles' {
                cpus = 1
                memory = '4 GB'
                time = '15 m'
            }

            withName: 'airr_seq_for_clone' {
                cpus = 2
                memory = '8 GB'
                time = '15 m'
            }
        }
    }
}
