profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        process {
            sifPath = ''
            errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
            maxRetries = 3
        }
    }
    
    singularity {
        singularity.enabled = true
        process.sifPath = '~/sifs'
        docker.enabled = false
        autoMounts = true
        runOptions = '--cleanenv --home ~/empty --no-home'
    }
}
