profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        process {
            executor = 'local'
            errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
            maxRetries = 3
        }
    }

    singularity {
        singularity.enabled = true
        singularity.automounts = true

        process {
            executor = 'local'
            sifPath = '~/sifs'
            docker.enabled = false
            runOptions = '--cleanenv --home ~/empty --no-home'
        }
    }

    awsbatch {
        docker.enabled = true
        singularity.enabled = false
        docker.runOptions = '--user root'  
        
        params {
            aws_batch_queue = System.getenv('AWS_BATCH_JOB_QUEUE') ?: 'default'
            aws_batch_region = System.getenv('AWS_BATCH_REGION') ?: 'default'
        }

        aws {
            region = params.aws_batch_region
            batch {
                platformType = 'fargate'
                executionRole = System.getenv('AWS_EXECUTION_ROLE') ?: 'default'
                jobRole = System.getenv('AWS_BATCH_JOB_ROLE') ?: 'default'
            }            
        }

        process {
            executor = 'awsbatch'
            queue = params.aws_batch_queue
            errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
            maxRetries = 3
            cpus = 1
            memory = '2 GB'     
            containerOptions = ''        
        }
    }
}
