params.nproc = 12
params.mate = "single"
params.run_FastQC = "yes"

// Process Parameters for filter_seq_quality:
params.filter_seq_quality.method =  "quality"  		//* @dropdown @options:"quality, length, missing, maskqual" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.filter_seq_quality.nproc =  params.nproc  	//* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.filter_seq_quality.q =  "20"  				//* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.filter_seq_quality.n_length =  ""  			//* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.filter_seq_quality.n_missing =  ""  			//* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"
params.filter_seq_quality.fasta =  "false"  		//* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."

// Process Parameters for filter_seq_length:
params.filter_seq_length.method =  "length"  		//* @dropdown @options:"quality, length, missing, maskqual" @description: "Filtering operation" @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.filter_seq_length.nproc =  params.nproc  	//* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.filter_seq_length.q =  ""  					//* @input @description:"Discards reads where the Phred score below this threshold. Default value 20." @title:"Quality params"
params.filter_seq_length.n_length =  "750"  		//* @input @description:"Minimum sequence length to retain. Default value 35." @title:"Length params"
params.filter_seq_length.n_missing =  ""  			//* @input @description:"Threshold for fraction of gap or N nucleotides. Default value 10." @title:"Missing params"
params.filter_seq_length.fasta =  "false"  			//* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."

// Process Parameters for align_sets:
params.align_sets.method =  "muscle"  				//* @dropdown @options:"muscle, offset, table" @description:"Align set method. Default muscle (See https://presto.readthedocs.io/ for more details.)" @title:"General params"
params.align_sets.bf =  "BARCODE"  					//* @input @description:"The annotation field containing barcode labels for sequence grouping. Default UMI"
params.align_sets.div =  "false"  					//* @checkbox @description:"If specified, calculates nucleotide diversity of each set (average pairwise error rate). Default false" 
params.align_sets.failed =  "false"  				//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.align_sets.nproc =  params.nproc  			//* @input @description: "Number of nproc to use for running FilterSeq. Default value 1."
params.align_sets.muscle_exec =  "/usr/local/bin/muscle"  //* @input @description:"The name or location of the muscle executable." title:"Muscle params"
params.align_sets.offset_table =  ""  				//* @input @description:"The tab delimited file of offset tags and values." @title:"Offset params"
params.align_sets.pf =  ""  						//* @input @description:"The primer field to use for offset assignment. Default PRIMER"
params.align_sets.mode =  ""  						//* @dropdown @option:"cut, pad" @description:"Specifies whether or align sequence by padding with gaps or by cutting the 5’ sequence to a common start position. Default cut"
params.align_sets.primer_file =  ""  				//* @input @description:"A FASTA file containing primer sequences." @title:"Table params"
params.align_sets.reverse =  "false"  				//* @checkbox @description:"If specified create a 3’ offset table instead. Default false" 

// Process Parameters for cluster_sets:
params.cluster_sets.method =  ["set"]  				//* @dropdown @options:"set,all,barcode" @description:"Clustering method." @tooltip:"Set - Cluster sequences within annotation sets.\nAll - Cluster all sequences regardless of annotation.\nBarcode - Cluster reads by clustering barcode sequences"
params.cluster_sets.failed =  ["false"]  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.cluster_sets.nproc =  params.nproc  			//* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.cluster_sets.cluster_field =  ["CLUSTER"]  	//* @input @description:"The name of the output annotation field to add with the cluster information for each sequence. Default CLUSTER."
params.cluster_sets.ident =  [0.9]  				//* @input @description:"The sequence identity threshold to use for clustering. Default 0.9" @tooltip:" Note, how identity is calculated is specific to the clustering application used."
params.cluster_sets.length =  [0]  					//* @input @description:"The minimum allowed shorter/longer sequence length ratio allowed within a cluster. Default 0" @tooltip:"Setting this value to 1.0 will require identical length matches within clusters. A value of 0.0 will allow clusters containing any length of substring."
params.cluster_sets.prefix =  [""]  				//* @input @description:"A string to use as the prefix for each cluster identifier. By default, cluster identifiers will be numeric values only. Default none"
params.cluster_sets.cluster_tool =  ["usearch"]  	//* @dropdown @options:"usearch,vsearch,cd-hit-est" @description:"The clustering tool to use for assigning clusters. Default usearch" @tooltip:"Must be one of usearch, vsearch or cd-hit-est. Note, for cd-hit-est the maximum memory limit is set to 3GB."
params.cluster_sets.cluster_exec =  ["/usr/local/bin/usearch"]  //* @input @description:"The name or path of the usearch, vsearch or cd-hit-est executable."
params.cluster_sets.set_field =  ["BARCODE"]  		//* @input @description:"The annotation field containing annotations, such as UMI barcode, for sequence grouping. Default BARCODE"
params.cluster_sets.start =  [0]  					//* @input @desciption:"The start of the region to be used for clustering. Together with end, this parameter can be used to specify a subsequence of each read to use in the clustering algorithm. Default 0"
params.cluster_sets.end =  [""]  					//* @input @description:"The end of the region to be used for clustering. Default none"
params.cluster_sets.barcode_field =  ["BARCODE"]  	//* @input @description:"The annotation field containing barcode sequences. Default BARCODE"

// MaskPrimers_CPRIMERS
params.MaskPrimers_CPRIMERS.method = ["align"]
params.MaskPrimers_CPRIMERS.mode = ["cut"]
params.MaskPrimers_CPRIMERS.start = [0]
params.MaskPrimers_CPRIMERS.extract_length = [0]
params.MaskPrimers_CPRIMERS.barcode = ["false"]
params.MaskPrimers_CPRIMERS.barcode_field = [""]
params.MaskPrimers_CPRIMERS.primer_field = ["CPRIMER"]
params.MaskPrimers_CPRIMERS.maxerror = [0.3]
params.MaskPrimers_CPRIMERS.revpr = ["false"]
params.MaskPrimers_CPRIMERS.maxlen = [50]
params.MaskPrimers_CPRIMERS.skiprc = ["false"]
params.MaskPrimers_CPRIMERS.failed = "true"
params.MaskPrimers_CPRIMERS.nproc = params.nproc
params.MaskPrimers_CPRIMERS.umi_length = ["0"]

// params.constant_region is used to specify the constant region primer file to match. 
// for example GM matches the file FLAIRRSeq/primers/CPRIMERS_GM.fasta
params.constant_region = "GM"

params.C_R1_primers = "$projectDir/primers/CPRIMERS_${params.constant_region}.fasta"
params.C_R2_primers = "$projectDir"		// can't be empty

// MaskPrimers_VPRIMERS
params.MaskPrimers_VPRIMERS.method = ["align"]
params.MaskPrimers_VPRIMERS.mode = ["cut"]
params.MaskPrimers_VPRIMERS.start = [0]
params.MaskPrimers_VPRIMERS.extract_length = [0]
params.MaskPrimers_VPRIMERS.barcode = ["false"]
params.MaskPrimers_VPRIMERS.barcode_field = [""]
params.MaskPrimers_VPRIMERS.primer_field = ["VPRIMER"]
params.MaskPrimers_VPRIMERS.maxerror = [0.3]
params.MaskPrimers_VPRIMERS.revpr = ["false"]
params.MaskPrimers_VPRIMERS.maxlen = [50]
params.MaskPrimers_VPRIMERS.skiprc = ["false"]
params.MaskPrimers_VPRIMERS.failed = "true"
params.MaskPrimers_VPRIMERS.nproc = params.nproc
params.MaskPrimers_VPRIMERS.umi_length = ["0"]

// MaskPrimers_VPRIMERS
params.V_R1_primers = "$projectDir/primers/VPRIMERS.fasta"
params.V_R2_primers = "$projectDir/None.1"		// can't be empty

// MaskPrimers_EXTRACT
params.MaskPrimers_EXTRACT.method = ["extract"]
params.MaskPrimers_EXTRACT.mode = ["cut"]
params.MaskPrimers_EXTRACT.start = [0]
params.MaskPrimers_EXTRACT.extract_length = [22]
params.MaskPrimers_EXTRACT.barcode = ["false"]
params.MaskPrimers_EXTRACT.barcode_field = [""]
params.MaskPrimers_EXTRACT.primer_field = ["BARCODE"]
params.MaskPrimers_EXTRACT.maxerror = [0.3]
params.MaskPrimers_EXTRACT.revpr = ["false"]
params.MaskPrimers_EXTRACT.maxlen = [50]
params.MaskPrimers_EXTRACT.skiprc = ["false"]
params.MaskPrimers_EXTRACT.failed = "true"
params.MaskPrimers_EXTRACT.nproc = params.nproc
params.MaskPrimers_EXTRACT.umi_length = ["0"]

// MaskPrimers_EXTRACT
params.E_R1_primers = "$projectDir/None.1"		// can't be empty
params.E_R2_primers = "$projectDir/None.2"

// Process Parameters for build_consensus:
params.build_consensus.failed =  "true"  			//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"
params.build_consensus.nproc =  params.nproc		//* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.build_consensus.barcode_field = ["CLUSTER"]	//* @input @description:"Position of description barcode field to group sequences by. Default BARCODE." @title:"Consensus generation copy fields and actions"
params.build_consensus.primer_field = ["CPRIMER"]	//* @input @description:"Specifies the field name of the primer annotations. Default is none." @tooltip:"In most processing pipeline this parameter is set to PRIMER"
params.build_consensus.act = ["none"]  				//* @dropdown @options:"none,min,max,sum,set,majority" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The actions “min”, “max”, “sum” perform the corresponding mathematical operation on numeric annotations. The action “set” combines annotations into a comma delimited list of unique values and adds an annotation named <FIELD>_COUNT specifying the count of each item in the set. The action “majority” assigns the most frequent annotation to the consensus annotation and adds an annotation named <FIELD>_FREQ specifying the frequency of the majority value."
params.build_consensus.copy_field = [""]  			//* @input @description:"Specifies a set of additional annotation fields to copy into the consensus sequence annotations. Default None" @tooltip:"If an action is specified under the <act> paramter, a copy field is needed as well."
params.build_consensus.mincount = [1]  				//* @input @description:"The minimum number of sequences needed to define a valid consensus. Default is 1" @title:"Consensus generation groups params"
params.build_consensus.minqual = [0]  				//* @input @description:"Consensus quality score cut-off under which an ambiguous character is assigned. Default value 0." @tooltip:"Does not apply when quality scores are unavailable."
params.build_consensus.minfreq = [0.6]  			//* @input @description:"Fraction of character occurrences under which an ambiguous character is assigned. Default value 0.6."
params.build_consensus.maxerror = ["0.1"]  			//* @input @description:"Maximum allowable error rate. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to calculate the error rate of each read group (rate of mismatches from consensus) and remove groups exceeding the given error threshold. The error rate is calculated against the final consensus sequence, which may include masked positions due to the <minqual> and <minfreq> arguments and may have deleted positions due to the <maxgap> argument. Mutually exclusive with <maxdiv>."
params.build_consensus.prcons = ["0.6"]  			//* @input @description:"Minimum primer frequency required. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to define a minimum primer frequency required to assign a consensus primer, and filter out sequences with minority primers from the consensus building step."
params.build_consensus.maxgap = ["0.5"]  			//* @input @description:"A cut-off for the frequency allowed gao values for each position. Default is none (A numeric field from 0 to 1)." @tooltip:"If specified, this defines a cut-off for the frequency of allowed gap values for each position. Positions exceeding the threshold are deleted from the consensus. If not defined, positions are always retained. "
params.build_consensus.maxdiv = ["none"]  			//* @input @description:"Maximum allowable diversity rate. Default is none (A numeric field from 0 to 1)" @tooltip:"Specify to calculate the nucleotide diversity of each read group (average pairwise error rate) and remove groups exceeding the given diversity threshold. Diversity is calculate for all positions within the read group, ignoring any character filtering imposed by the <minqual>, <minfreq> and <maxgap> arguments. Mutually exclusive with <maxerror>."
params.build_consensus.dep = ["false"]				//* @checkbox @description:"Check the box to calculate consensus quality with a non-independence assumption. Default false"

// Process Parameters for collapse_seq:
params.collapse_seq.max_missing =  20  				//* @input @description:"Maximum number of missing nucleotides to consider for collapsing sequences. A sequence will be considered undetermined if it contains too many missing nucleotides. Default is 0"
params.collapse_seq.inner =  "true"  				//* @checkbox @description:"Exclude consecutive missing characters at either end of the sequence. Default is false."
params.collapse_seq.fasta =  "true"  				//* @checkbox @description:"Specify to force output as FASTA rather than FASTQ. Default is false."
params.collapse_seq.act =  "sum"  					//* @dropdown @options:"none, min, max, sum, set" @description:"Only applicable for methods collapse and add. List of actions to take for each field defining how each annotation will be combined into a single value. Default none"
params.collapse_seq.uf =  "CREGION"  				//* @input @description:"Specifies a set of annotation fields that must match for sequences to be considered duplicates. Default none"
params.collapse_seq.cf =  "CONSCOUNT"  				//* @input @description:"Specifies a set of annotation fields to copy into the unique sequence output. Default none"
params.collapse_seq.nproc =  params.nproc  			//* @input @description:"Number of nproc to use for running FilterSeq. Default value 1."
params.collapse_seq.failed =  "true"  				//* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"

// Process Parameters for split_seq:
params.split_seq.field =  "CONSCOUNT"  				//* @input @description: "Annotation field to split sequence files by. Default CONSCOUNT. "
params.split_seq.num =  2  							//* @input @description: "Specify to define the split field as numeric and group sequences by value. Default 2."
params.split_seq.fasta =  "true"  					//* @checkbox @description:"Check the box to get fasta file as output. Default false"

includeConfig '../shared_configs/profiles.config'

params.sif_dir = System.getProperty('user.home') + "/sifs"

process {
        cpus = 10
    container = "file://${params.sif_dir}/immcantation_suite-4.4.0.sif"
    withName: FastQC  {
        container = "file://${params.sif_dir}/fastqc_v0.11.9_cv8.sif"
    }


        withName: presto_report {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
        }


        withName: filter_barcodes {
                container = "file://${params.sif_dir}/flairr_dsl2_latest.sif"
        }
}

